:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --pri-color: #ff6533;
  --header-height: 120px;
  --star-yellow-color: #fFCE3E;
  --header-navbar-height: 34px;
  --header-with-search-height: calc(
    (var(--header-height) - var(--header-navbar-height))
  );
}
* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* Responsive */
.grid {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}
/* test */
.gird__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.gird__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.gird__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

.btn {
  min-width: 124px;
  height: 36px;
  line-height: 1.6rem;
  font-size: 1.4rem;
  border: none;
  text-decoration: none;
  outline: none;
  padding: 0;
  border-radius: 2px;
  color: var(--text-color);
  cursor: pointer;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.btn.btn-primary {
  background-color: var(--pri-color);
  color: var(--white-color);
}
.fa-google {
  background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.select-input {
  position: relative;
  min-width: 200px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 2px;
  padding: 8px 10px;
  border-radius: 2px;
}
.select-input:hover .select-list{
  display: block;
}
.select-list {
  position: absolute;
  background-color: var(--white-color);
  left: 0;
  right: 0;
  top: 37px;
  padding: 10px;
  margin: 0;
  display: none;
  border-radius: 2px;
  cursor: pointer;
  z-index: 1;
}
.select-item {
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.select-item__link {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  padding-top: 12px;
  padding-bottom: 15px;
}
.select-input__label {
  font-size: 1.4rem;
  color: var(--text-color);
}
.home-filter-icon {
  font-size: 1.4rem;
  color: #837878;
  position: relative;
  top: 1px;
}
.select-item:hover .select-item__link{
  color: var(--pri-color);
}

.select-item i{
  font-size: 1.2rem;
  color: var(--pri-color);
  margin-left: 12px;
  display: none;
}
.select-item-active i{
  display: block;
}
.select-item-active a{
  color: var(--pri-color);
}
/* Patination - phantrang */
.patination{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.patination-item-link{
  --hight: 30px;
  text-decoration: none;
  font-size: 2rem;
  color:#939393;
  min-width: 40px;
  height: var(--hight);
  border-radius: 2px;
  display: block;
  text-align: center;
  line-height: var(--hight);
  border-radius: 2px;
  margin: 0 12px;
  font-weight: 300;
}

.patination-item--active .patination-item-link{
  color: var(--white-color);
  background-color: var(--pri-color);
}
.patination-item--active .patination-item-link:hover{
  opacity: 0.9;
}
  
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 13px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(219, 219, 219);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);    /* color of the scroll thumb */
    border-radius: 40px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(219, 219, 219);  /* creates padding around scroll thumb */
}
