/* BREAK POINT */
/* PC */
/* 1024px =64em */
@media (min-width: 64em) {
 
}
/* Tablet */
/* 740-1023px */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
 
}
/* Mobile */

@media (max-width: 46.1875em) {
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn{
      display: initial;
  }
  #nav {
    display: block;
    position: relative;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav .subnav a {
    color: #fff;
    padding: 5px 41px;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
  }
  #nav > li {
    display: block;
  }

  #header {
    overflow: hidden;
  }
  #content .member-item {
    margin-top: 30px;
    width: 100%;
  }
  #content .member-img {
    width: 60%;
  }
  #slider .text-content {
    display: none;
  }
  .s-full-w {
    width: 100%;
    margin-top: 16px;
  }
  .s-full-w:first-child {
    margin-top: 0px;
  }
  .contact-form {
    margin-top: 16px;
  }
  .s-full-width,
  .s-coll-full {
    width: 100%;
  }
  .mt8 {
    margin-top: 8px;
  }
}
